
.footer-container {
    background-color: black;
    color: white;
    height: 60px;
    align-items: center;
    text-align: center;
    position:relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0 !important;
}
